h2{
    background: red;
}

p{
    color: blue;
    text-align: center;
}

/* classe exclusiva da tag p */
p.direita{
    text-align: right;
    color: red;
}

.formato2{
    color: aqua;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
}

h1,h2,h3{
    color: green;
}

h4,h5,h6{
    color: bisque
}

a:hover{
    color: red;
    font-size: 135%;
}
a:visited{
    color: silver;
}